// Fonts 
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:wght@400;700&display=swap');

// Variables
$background: #f1e7c6;
$text: #1C110A;
$title: #9B2915;
$subtitle: #E9B44C;

// Normalize 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: $background;
}

p{
    line-height: 1.3rem;
    color: $text;
    font-size: 1.1rem;
}

// Navbar 
.navbar{
    background-color: $background;
    z-index: 100;
}

.navbar-nav{
    text-align: center;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.nav-link{
    font-weight: 700;
    color: $text;
}

.nav-link:hover{
    color: $title;
}

// Home 
.home{
    margin-top: 8rem;
}

h1{
    font-family: 'DM Serif Text', serif;
    line-height: 1.7rem;
    color: $text;
    font-size: 2rem;
}

.home-info{
    text-align: center;

    span{
        font-family: 'DM Serif Text', serif;
        font-style: italic;
        color: $title;
    }

    p{
        margin-bottom: 4rem;
    }

    a{
        text-decoration: none;
        background-color: $title;
        padding: 9px 34px;
        border-radius: 5px;
        color: $subtitle;
        font-weight: 700;
    }
}

.container-main-image{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image{
    transform: rotateZ(-2deg);
    border-radius: 5px;
    width: 80%;
    height: auto;
}

// Nosotros 
.container-2{
    width: 90%;
    margin: auto;
}

.nosotros{
    margin-top: 100px;
    padding-bottom: 40px;
}

.card{
    border: none;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: $title;
}

.card-title{
    color: #f1e7c6;
    font-weight: 700;
}

.container-icon{
    background-color: $subtitle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    i{
        color: $title;
        font-size: 1.7rem;
    }
}

.nosotros-info{
    padding: 50px 0;
    background-color: $subtitle;
    text-align: center;
}

.container-nosotros-image{
    margin-bottom: 3rem;

    img{
        border-radius: 5px;
    }
}

.nosotros-title{
    color: $title;
    font-weight: 700;
}

h2{
    font-family: 'DM Serif Text', serif;
    color: $text;
    margin-bottom: 1rem;
}

.nosotros-historia{
    color: $text;
}

// Contacto 
.contacto{
    padding-top: 50px;
    padding-bottom: 50px;
}

.contacto-info{
    text-align: center;
}

.form{
    margin-top: 3rem;
}

.form-control{
    border: none;
    color: $subtitle;
}

.form-control::placeholder{
    color: $subtitle;
    font-weight: 700;
}

.btn{
    text-decoration: none;
    background-color: $title;
    padding: 9px 34px;
    border-radius: 5px;
    color: $subtitle;
    font-weight: 700;
}
