@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f1e7c6;
}

p {
  line-height: 1.3rem;
  color: #1C110A;
  font-size: 1.1rem;
}

.navbar {
  background-color: #f1e7c6;
  z-index: 100;
}

.navbar-nav {
  text-align: center;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-link {
  font-weight: 700;
  color: #1C110A;
}

.nav-link:hover {
  color: #9B2915;
}

.home {
  margin-top: 8rem;
}

h1 {
  font-family: 'DM Serif Text', serif;
  line-height: 1.7rem;
  color: #1C110A;
  font-size: 2rem;
}

.home-info {
  text-align: center;
}

.home-info span {
  font-family: 'DM Serif Text', serif;
  font-style: italic;
  color: #9B2915;
}

.home-info p {
  margin-bottom: 4rem;
}

.home-info a {
  text-decoration: none;
  background-color: #9B2915;
  padding: 9px 34px;
  border-radius: 5px;
  color: #E9B44C;
  font-weight: 700;
}

.container-main-image {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-image {
  -webkit-transform: rotateZ(-2deg);
          transform: rotateZ(-2deg);
  border-radius: 5px;
  width: 80%;
  height: auto;
}

.container-2 {
  width: 90%;
  margin: auto;
}

.nosotros {
  margin-top: 100px;
  padding-bottom: 40px;
}

.card {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #9B2915;
}

.card-title {
  color: #f1e7c6;
  font-weight: 700;
}

.container-icon {
  background-color: #E9B44C;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-icon i {
  color: #9B2915;
  font-size: 1.7rem;
}

.nosotros-info {
  padding: 50px 0;
  background-color: #E9B44C;
  text-align: center;
}

.container-nosotros-image {
  margin-bottom: 3rem;
}

.container-nosotros-image img {
  border-radius: 5px;
}

.nosotros-title {
  color: #9B2915;
  font-weight: 700;
}

h2 {
  font-family: 'DM Serif Text', serif;
  color: #1C110A;
  margin-bottom: 1rem;
}

.nosotros-historia {
  color: #1C110A;
}

.contacto {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contacto-info {
  text-align: center;
}

.form {
  margin-top: 3rem;
}

.form-control {
  border: none;
  color: #E9B44C;
}

.form-control::-webkit-input-placeholder {
  color: #E9B44C;
  font-weight: 700;
}

.form-control:-ms-input-placeholder {
  color: #E9B44C;
  font-weight: 700;
}

.form-control::-ms-input-placeholder {
  color: #E9B44C;
  font-weight: 700;
}

.form-control::placeholder {
  color: #E9B44C;
  font-weight: 700;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  text-decoration: none;
  background-color: #9B2915;
  padding: 9px 34px;
  border-radius: 5px;
  color: #E9B44C;
  font-weight: 700;
}

footer {
  padding: 50px 0;
  background-color: #9B2915;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 3rem;
}

.redes2 a {
  padding: 1rem 1.5rem;
}

.redes2 i {
  font-size: 2rem;
  color: #E9B44C;
}

.info {
  text-align: center;
  margin-top: 1rem;
}

.info p {
  margin: 0;
  color: #f1e7c6;
}

.copy {
  margin-top: 4rem;
  text-align: center;
  color: #641b0e;
  font-size: 0.9rem;
}

.copy a {
  text-decoration: none;
  color: #641b0e;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */